<!DOCTYPE erb>
<html>
<head>
  <link rel = "stylesheet" href = "deepfry.css">


  </head>
  <body> 


<form method = "POST" action = "/finalimage"> 
      <p>Your image url (tinypic result): <input type = "text" name = "link" ></p>
      <!--<p>Your favorite food: <input type = "text" name = "fav_food" ></p>-->
      <input type = "submit">
    
    </form>
    </body>
  
</html>



Collapse 

5:06 PM
