<!DOCTYPE html>
<html>
  <head>
    <link rel = "stylesheet" href = "deepfry2.css">
    <title>title</title>
  </head>
  <body>
    <div class="demo page-header blended deepfry">
      <img src= <%= @link %>>
  </div>
  </body>
</html>